//Colour variables

$color-dark-green: #697D30;
$color-mid-green: #809543;
$color-light-green: #96A85D;
$color-dark-brown: #9F582F;
$color-mid-brown: #B46C43;
$color-mid-beige: #FFE9C0;
$color-light-beige: #FFFAE5;