@import "./variables";
@import "./mixins";

.page-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin:0 auto;
}

.page-texture{
    // background-image: url('../Images/texture.png');
    height: 200px;
    width: 66%;
    border-radius: 20px;
    background-size: cover;
    margin: 20px;
    position: relative;

    h1{
        @include h1;
        position: absolute;
        float: left;
        text-align: left;
        bottom: 20px;
        margin-left: 20px;
    }
}

#account-details-2{
    width: 66%;
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: space-around;
    align-items: flex-start;
    margin:0 auto;

    h3{
        @include h3;
        color: $color-dark-brown;
   
    }
    h2{
        color: $color-dark-brown; 
    }

    h4{
        @include h4;
        margin: 5px;
    }
}

#account-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    div{
        width: 100%;
    }
}
.detail-row{
    display:flex;
    text-align: left;
}

.reel-container{
    width: 66%;
    //margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin:0 auto;

    #reel{
        width: 95%;
        display: flex;
       
    }
    h2{
        color: $color-dark-brown; 
    }
    #secondary-button{
        width:100px;
        margin-left: 30px;
    }
}

#reel{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
   margin-left:-200px
}

#payment-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    div{
        width: 100%;
    }
}

.reel-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include h2;
}

.reel-card-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}



@media screen and (max-width:675px){
    #reel{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
     margin:0 auto;
     margin-left:-100px;
    }
    .reel-label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include h2;
    }
}


