//Importing variables and pre-set mixin styles

@import "./variables";
@import "./mixins";

//Styling for all components

//Buttons

#icon-button{
    @include primary-button; 
        margin-top: none;
        margin-bottom: none;
        height: 32px;
        width: 32px;
}

#primary-button{
    @include primary-button; 
        margin-top: none;
        margin-bottom: none;
}

.disabled{
    opacity: 30%;
}


// upload.js
.upload-h2{
    color: $color-dark-brown;
    margin: 20px 0;
    text-align: left;
}

.upload-container button{
    border: none;
    width: 100px;
    margin: 0 50px;
    background-color: #80913B;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    color: #F8E7BA;
}

// header.js
.intro-image{
    display: block;
    position: relative ;
    background-image: url(../Images/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1200px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px lightgrey ;
    }

  @media screen and (max-width: 800px) {
   
    .intro-image{ 
        width: 500px;
        border-radius: 30px;
    }
    .header-text-box{
        display: flex;
        justify-content: center;
        align-items: center;
  }
}
  
  .header-text-box{
    display: flex;
    padding:150px 50px ;
  }
  
  .header-text{
    font-weight: bold;
    color: $color-dark-green;
  
  }

//Input

input{
    width: 400px;
    padding: 6px 6px;
    border-radius: 5px;
    border-color: $color-light-green;
    border-width: 1px;
    border-style: solid;
}

input:focus{
    outline: none;
    border-color: $color-dark-green;
}


//Message bubbles

.message{
    background-color: #F8F7F7;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
    width: 720px;
    padding: 6px 12px;

    h4{
        @include h4;
    }
    
    p{
        @include body;
    }

    img{
        height: 48px;
        width: 48px;
    }
}

#textbox-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.vertical-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

label{
    @include textbox-label;
    color: $color-dark-green;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

Input{
    @include body;
}


#secondary-button{
    @include secondary-button; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.disabled{
    opacity: 30%;
}

.textbox-container{

    height: 300px;
    width: 720px;
    background-color: blue;

    input{
        background-color: #F8F7F7;
        border-radius: 10px;
        height: auto;
        width: 100%;
    }

}

#discussion-title{
    @include h1;
}

#create-message{
    height: 400px;

    TextArea{
    height: 100px;
    resize: none;
    width: 720px;
    }

    TextArea:focus{
        outline: none;
    }
}

//Product details card


#item{

    margin: 48px 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;


    img{
        //max-width: 400px;
        width: 40%;
    }

    #details{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;
        width: 60%;
        height: auto;
    
        .top {
            @include h3;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            #price{
                display: flex;
                flex-direction: row;
                gap: 3px;
                justify-content: space-between;
                align-items: center;
                max-height: 50px;
            }

            h1{
                margin: 0px;
                max-height: 70px;
            }

            h3{
                margin: 0px;
            }

            .icon{
                height: 30px;
            }
        }

        .bottom{
            @include body;
        }

        #buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
        }
    }
}




