//Importing variables and pre-set mixin styles

@import "./variables";
@import "./mixins";

//Styling for all pages


//Styling for Landing 
.feature-cards{
    display: flex;
    justify-content: space-between;
}

//Styling for Browse


// Styling for upload-page

.header-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

// nav bar
@media screen and (max-width:675px){
    
}

