* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

  }
.auth-form-container,
.signin-form,
.register-form {
    display: flex;
    flex-direction: column;
    color: #80913B;

}

@media screen and (min-width: 600px) {
    .auth-form-container{
        padding: 5rem;
        border: 1px solid  #80913B;
        border-radius: 10px;
        margin:0.5rem;
    }
    
}


.auth-label {
    text-align: left;
    padding: 0.25rem 0;

}

input {
    margin: 0.5rem 0; 
    padding: 1rem;
    border: solid 0.2px #80913B;
    border-radius: 3px;
}

button {
    border: none;
    background-color: #80913B;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    color: #F8E7BA;
}

.link-btn {
    background:none;
    color:#8D562B ;
    text-decoration: underline;
 

}