* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  width:100vw;
  background-color: #fffae5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav img {
  width: 392px;
}

.icon {
  max-width: 52px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: #80913b;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  color: #fffae5;
}

.secondary-btn {
  background-color: #f8e7ba;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width:675px){

  .nav{
    width:100vw;
  }
}

.hero {
  position: relative;
  width: 100%;
  margin: 48px, auto;
  text-align: left;
  padding: 5rem, 2rem;
}

.hero img {
  margin-top: 48px;
  width: 100%;
  max-width: 1416px;
  max-height: 716px;
  border-radius: 59px;
}

.hero h1 {
  font-size: 96px;
  color: #8d562b;
  position: absolute;
  padding-left: 61px;
  font-family: "Times New Roman", Times, serif;
}

.hero-button button {
  position: absolute;
  margin-top: 300px;
  margin-left: 61px;
  min-width: 360px;
  min-height: 64.71;
  background-color: #80913b;
  text-decoration: none;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 10px;
}

.hero a {
  text-decoration: none;
  color: #fffae5;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
}

/* CARDS STYLING */

.plantCardListing {
  margin: 10rem;
}
.innerBox img {
  position: absolute;
  border-radius: 50px 50px 0px 0px;
  height: 295px;
  width: 268px;
  z-index: 2;
}

.outerBox {
  background-color: #80913b;
  border-radius: 50px;
  height: 427px;
  width: 268px;
  position: absolute;
  z-index: 1;
  display: inline;
}

.textTop {
  z-index: 2;
  padding-top: 280px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f8e7ba;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textBottom {
  z-index: 2;
  padding-left: 10px;
  padding-bottom: 30px;
  color: #f8e7ba;
}

.cardIcon {
  z-index: 3;
  position: absolute;
  width: 41px;
  height: 34px;
  margin-left: 200px;
  margin-top: 18px;
}


/* Upload.js */
.upload-container{
  max-width: 80%;
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.upload-img-box{
  width: 200px;
  height: 200px;
  border: 1px solid #80913B;
  border-radius: 5px;
  margin: 10px 0;
  
}
.upload-h2{
 
  margin: 5px;
}

/* Signin.js and Register.js */
body {
  margin: 0;
  
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}
.auth-form-container,
.signin-form,
.register-form {
  display: flex;
  flex-direction: column;
  color: #80913B;

}

@media screen and (min-width: 600px) {
  .auth-form-container{
      padding: 5rem;
      border: 1px solid  #80913B;
      border-radius: 10px;
      margin:0.5rem;
  }
  
}


.auth-label {
  text-align: left;
  padding: 0.25rem 0;

}

input {
  margin: 0.5rem 0; 
  padding: 1rem;
  border: solid 0.2px #80913B;
  border-radius: 3px;
}

button {
  width: 400px;
  border: none;
  background-color: #80913B;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  color: #F8E7BA;
}

.link-btn {
  background:none;
  color:#8D562B ;
  text-decoration: underline;


}
